<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_Intro_to_Data_Analysis/blob/master/Project_1_Titanic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # **Introduction**
The following project would be a summary of findings through an insight into data regarding the passengers onboard during the sinking of the Titanic.It would mainly focus on survival rates of passengers depending on their sex, age ,socio-economic status and various other factors that contributed to it.

In [69]:
import csv
titanic_data=[]
with open('titanic_data.csv', 'rt') as f:
  reader = csv.DictReader(f)
  titanic_data = list(reader)

print(titanic_data[0])

OrderedDict([('PassengerId', '1'), ('Survived', '0'), ('Pclass', '3'), ('Name', 'Braund, Mr. Owen Harris'), ('Sex', 'male'), ('Age', '22'), ('SibSp', '1'), ('Parch', '0'), ('Ticket', 'A/5 21171'), ('Fare', '7.25'), ('Cabin', ''), ('Embarked', 'S')])

 # **Data Wrangling**
According to one row of the data obtained above, the data provided in each column can be described as follows:


*   PassengerId = the unique number that identifies each passenger
*   Survived = Value of "1" indicates the passenger survived and "0" indicates otherwise
*   Pclass = Passenger class (1 = 1st class, 2 = 2nd, 3 = 3rd)
*   Name = Name of passenger
*   Sex = Sex of Passenger
*   Age = Age of Passenger
*   SibSp = Number of Siblings/Spouses of the passenger aboard
*   Parch = Number of Parents/Children of the passenger aboard
*   Ticket = Ticket number of Passenger
*   Fare = Passenger ticket fare
*   Cabin = Cabin passenger travelled in
*   Embarked = Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

*Special Notes*
1.   Pclass: proxy for the passenger's socio-economic status (1 = Upper, 2 = Middle ,3 = Lower) 
2.   Sibling: brother, sister, stepbrother, or stepsister of passenger aboard
3.   Spouse: husband or wife of passenger aboard(mistresses and fiancees ignored)
4.   Parent: mother or father of passenger aboard
5.   Child: son, daughter, stepson, or stepdaughter of passenger aboard

*Additional Potential Questions*
1. Did having relatives aboard increase chance of survival?
2. Did the cabin passengers travelled in contibute to survival rates? Cabins with low survival rates closer to place hit by iceberg?
3.   port of embarkation?? port before accident??

 # **Data Cleaning**

Firsly for duplicate entries to be removed I created a set contaning all unique PassengerId values which shows there aren't any since it has the same number of entries as in the original set of data. 
Afterwards formatting data makes it easier to deal with and therefore I decided to make the values in the fare column integer values instead of float values.
Lastly removing unnecessary columns helps data exploration so I thought the columns: Cabin,Name and Ticket weren't contributing much for the analysis and so deleted them.

In [70]:
print(len(titanic_data))

unique_passenger_records= set()
for passenger_record in titanic_data:
  unique_passenger_records.add(passenger_record['PassengerId'])
print(len(unique_passenger_records))

891
891

In [71]:
for passenger_record in titanic_data:
  passenger_record['Fare'] = int(float(passenger_record['Fare']))
print(titanic_data[1])

OrderedDict([('PassengerId', '2'), ('Survived', '1'), ('Pclass', '1'), ('Name', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'), ('Sex', 'female'), ('Age', '38'), ('SibSp', '1'), ('Parch', '0'), ('Ticket', 'PC 17599'), ('Fare', 71), ('Cabin', 'C85'), ('Embarked', 'C')])

In [72]:
for passenger_record in titanic_data:
  passenger_record.pop('Cabin',None)
  passenger_record.pop('Ticket',None)

print(titanic_data[1])

OrderedDict([('PassengerId', '2'), ('Survived', '1'), ('Pclass', '1'), ('Name', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'), ('Sex', 'female'), ('Age', '38'), ('SibSp', '1'), ('Parch', '0'), ('Fare', 71), ('Embarked', 'C')])

 # **Data Exploration**
 This phase of the project would look into code used to identify factors that contributed to higher survival rates as mentioned in the introduction.It would also identify some interesting statistical facts from the data, for example: Who was the youngest survivor?

In [73]:
survived_passengers = []
non_survived_passengers=[]
for passenger_record in titanic_data:
  Survived = passenger_record['Survived']
  if passenger_record['Survived']=='1':
    survived_passengers.append(passenger_record)
  elif passenger_record['Survived']=='0':
    non_survived_passengers.append(passenger_record)

print(len(survived_passengers))
print(len(non_survived_passengers))

342
549

In [77]:
youngest_survivor = None
youngest_survivor_age = 100

for passenger_record in survived_passengers:
  age = passenger_record['Age']
  if age < 'youngest_survivor_age':
    youngest_survivor_age = passenger_record['Age']
    youngest_survivor = passenger_record['Name']

print(youngest_survivor)
print(youngest_survivor_age)

Behr, Mr. Karl Howell
26

In [78]:
youngest_non_survivor = None
youngest_non_survivor_age = 100

for passenger_record in non_survived_passengers:
  age = passenger_record['Age']
  if age < 'youngest_non_survivor_age':
    youngest_non_survivor_age = passenger_record['Age']
    youngest_non_survivor = passenger_record['Name']

print(youngest_non_survivor)
print(youngest_non_survivor_age)

Dooley, Mr. Patrick
32

In [81]:
oldest_survivor = None
oldest_survivor_age = 0

for passenger_record in survived_passengers:
  age = passenger_record['Age']
  if age > 'oldest_survivor_age':
    oldest_survivor_age = passenger_record['Age']
    oldest_survivor = passenger_record['Name']

print(oldest_survivor)
print(oldest_survivor_age)

None
0

In [82]:
oldest_non_survivor = None
oldest_non_survivor_age = 0

for passenger_record in non_survived_passengers:
  age = passenger_record['Age']
  if age > 'oldest_non_survivor_age':
    oldest_non_survivor_age = passenger_record['Age']
    oldest_non_survivor = passenger_record['Name']

print(oldest_non_survivor)
print(oldest_non_survivor_age)

None
0

In [74]:
female_survived_passengers=[]
male_survivied_passengers=[]
for passenger_record in survived_passengers:
  Sex = passenger_record['Sex']
  if Sex == 'female':
    female_survived_passengers.append(passenger_record)
  else:
    male_survivied_passengers.append(passenger_record)

print(len(female_survived_passengers))
print(len(male_survivied_passengers))

233
109