<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_Intro_to_Data_Analysis/blob/master/Project_1_Titanic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # **Introduction**
The following project would be a summary of findings through an insight into data regarding the passengers onboard during the sinking of the Titanic.It would mainly focus on survival rates of passengers depending on their sex, age ,socio-economic status and various other factors that contributed to it.

In [40]:
import csv
titanic_data=[]
with open('titanic_data.csv', 'rt') as f:
  reader = csv.DictReader(f)
  titanic_data = list(reader)

print(titanic_data[0])

OrderedDict([('PassengerId', '1'), ('Survived', '0'), ('Pclass', '3'), ('Name', 'Braund, Mr. Owen Harris'), ('Sex', 'male'), ('Age', '22'), ('SibSp', '1'), ('Parch', '0'), ('Ticket', 'A/5 21171'), ('Fare', '7.25'), ('Cabin', ''), ('Embarked', 'S')])

 # **Data Wrangling**
According to one row of the data obtained above, the data provided in each column can be described as follows:


*   PassengerId = the unique number that identifies each passenger
*   Survived = Value of "1" indicates the passenger survived and "0" indicates otherwise
*   Pclass = Passenger class (1 = 1st class, 2 = 2nd, 3 = 3rd)
*   Name = Name of passenger
*   Sex = Sex of Passenger
*   Age = Age of Passenger
*   SibSp = Number of Siblings/Spouses of the passenger aboard
*   Parch = Number of Parents/Children of the passenger aboard
*   Ticket = Ticket number of Passenger
*   Fare = Passenger ticket fare
*   Cabin = Cabin passenger travelled in
*   Embarked = Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

*Special Notes*
1.   Pclass: proxy for the passenger's socio-economic status (1 = Upper, 2 = Middle ,3 = Lower) 
2.   Sibling: brother, sister, stepbrother, or stepsister of passenger aboard
3.   Spouse: husband or wife of passenger aboard(mistresses and fiancees ignored)
4.   Parent: mother or father of passenger aboard
5.   Child: son, daughter, stepson, or stepdaughter of passenger aboard

*Additional Potential Questions*
1. Did having relatives aboard increase chance of survival?
2. Did the cabin passengers travelled in contibute to survival rates? Cabins with low survival rates closer to place hit by iceberg?
3.   port of embarkation?? port before accident??

 # **Data Cleaning**

Firsly for duplicate entries to be removed I created a set contaning all unique PassengerId values which shows there aren't any since it has the same number of entries as in the original set of data.
Also removing unnecessary columns helps data exploration so I thought the columns: Cabin,Name and Ticket weren't contributing much for the analysis and so deleted them.

In [41]:
print(len(titanic_data))

unique_passenger_records= set()
for passenger_record in titanic_data:
  unique_passenger_records.add(passenger_record['PassengerId'])
print(len(unique_passenger_records))

891
891

In [42]:
for passenger_record in titanic_data:
  passenger_record.pop('Cabin',None)
  passenger_record.pop('Ticket',None)
  passenger_record.pop('Fare',None)

print(titanic_data[1])

OrderedDict([('PassengerId', '2'), ('Survived', '1'), ('Pclass', '1'), ('Name', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'), ('Sex', 'female'), ('Age', '38'), ('SibSp', '1'), ('Parch', '0'), ('Embarked', 'C')])

 # **Data Exploration**
 This phase of the project would look into code used to identify factors that contributed to higher survival rates as mentioned in the introduction.It would also identify some interesting statistical facts from the data, for example: Who was the youngest survivor? 
Before carrying out the analysis we can use  the pandas library to convert the data in the csv file into a dataframe to make it more accesible and visual.Unnecessary columns are also removed.

In [43]:
import pandas as pd
titanic_df = pd.read_csv('titanic_data.csv')

print(titanic_df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [61]:
titanic_df_new = titanic_df.drop(['PassengerId','Ticket','Cabin','Fare'], axis=1)
print(titanic_df_new.head())

   Survived  Pclass  ... Parch Embarked
0         0       3  ...     0        S
1         1       1  ...     0        C
2         1       3  ...     0        S
3         1       1  ...     0        S
4         0       3  ...     0        S

[5 rows x 8 columns]

Using the isnull function helps us spot missing values in all the respective columns in the dataframe.

In [45]:
titanic_df_new.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Embarked      2
dtype: int64

1. What percentage of the total number of passengers survived?

In [46]:
survived = titanic_df_new['Survived']== True
non_survived = titanic_df_new['Survived']== False

print('Number of passengers who survived: {}'.format(survived.sum()))
print('Number of passengers who did not survive: {}'.format(non_survived.sum()))

percent_survived =(survived.sum()/891) *100
print('Percentage of passengers who survived: {}%'.format(percent_survived))

Number of passengers who survived: 342
Number of passengers who did not survive: 549
Percentage of passengers who survived: 38.38383838383838%

 2. Did survival rates depend on the sex of the passenger?

In [67]:
female_survived = titanic_df_new[survived]['Sex']=='female'
male_survived = titanic_df_new[survived]['Sex']=='male'

print('Number of female passengers who survived: {}'.format(female_survived.sum()))
print('Number of male passengers who survived: {}'.format(male_survived.sum()))

percent_female_survived = (female_survived.sum()/342) *100
print('{}% of the passengers who survived were female.'.format(percent_female_survived))

Number of female passengers who survived: 233
Number of male passengers who survived: 109
68.12865497076024% of the passengers who survived were female.

3.   Who were the youngest and oldest survivors and how old were they?

In [59]:
missing_age_data = pd.isnull(titanic_df_new['Age'])
youngest_survivor = titanic_df_new[survived]['Age'].argmin()
youngest_survivor_name = titanic_df_new[survived].iloc[youngest_survivor]['Name']
youngest_survivor_age= titanic_df_new[survived].iloc[youngest_survivor]['Age']
print('The youngest survivor {} was {} years old.'.format(youngest_survivor_name,youngest_survivor_age))

oldest_survivor = titanic_df_new[survived]['Age'].argmax()
oldest_survivor_name = titanic_df_new[survived].iloc[oldest_survivor]['Name']
oldest_survivor_age= titanic_df_new[survived].iloc[oldest_survivor]['Age']
print('The oldest survivor {} was {} years old.'.format(oldest_survivor_name,oldest_survivor_age))

The youngest survivor Thomas, Master. Assad Alexander was 0.42 years old.
The oldest survivor Barkworth, Mr. Algernon Henry Wilson was 80.0 years old.

4.  Who were the youngest and oldest non-survivors and how old were they?

In [60]:
youngest_non_survivor = titanic_df_new[non_survived]['Age'].argmin()
youngest_non_survivor_name = titanic_df_new[non_survived].iloc[youngest_non_survivor]['Name']
youngest_non_survivor_age= titanic_df_new[non_survived].iloc[youngest_non_survivor]['Age']
print('The youngest non-survivor {} was {} years old.'.format(youngest_non_survivor_name,youngest_non_survivor_age))

oldest_non_survivor = titanic_df_new[non_survived]['Age'].argmax()
oldest_non_survivor_name = titanic_df_new[non_survived].iloc[oldest_non_survivor]['Name']
oldest_non_survivor_age= titanic_df_new[non_survived].iloc[oldest_non_survivor]['Age']
print('The oldest non-survivor {} was {} years old.'.format(oldest_non_survivor_name,oldest_non_survivor_age))

The youngest non-survivor Panula, Master. Eino Viljami was 1.0 years old.
The oldest non-survivor Svensson, Mr. Johan was 74.0 years old.



5.  Which age group consisted of the largest number of survivors?Did age have any significant effect on the chance of survival?

In [65]:
below_19=titanic_df_new[survived]['Age']<=19
print(below_19.sum())

79

6. Is there any correlation between the socio economic status of the passenger and their survival rates?

In [66]:
Pclass1_s= titanic_df_new[survived]['Pclass']=='1'
Pclass2_s= titanic_df_new[survived]['Pclass']=='2'
Pclass3_s= titanic_df_new[survived]['Pclass']=='3'

print('Out of all passengers who survived, {} belonged to the upper class, {} belonged to the middle class and {} belonged to the lower class'.format(Pclass1_s.sum(),Pclass2_s.sum(),Pclass3_s.sum()))

Out of all passengers who survived, 0 belonged to the upper class, 0 belonged to the middle class and 0 belonged to the lower class

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

 # **Conclusion**